<% if !@users.blank? %>
  <% for user in @users %>
	<div class="user_details">
		<%= link_to image_tag(gravatar(user)), user_path(user) %>
	    <%=  %>
		<b><%= user.username %></b><br />
		Member since <%= time_ago_in_words(user.created_at) %>
	</div>
	<hr />
  <% end %>
<% else %>
  
<% end %>
